<ion-view view-title="Meet Me There" hide-nav-bar="true">

    <ion-content data-tap-disabled="true">
		    <div id="map"></div>  
    </ion-content>

    <ion-drawer-vertical-wrapper class="has-tabs" direction="up" state="closed" autoclose-on-scroll>
      <ion-drawer-vertical-content>
        <ion-scroll>
          <div class="list">
          <div class="item item-divider">Nearby Locations</div>
            <div class="item item-divider">
              Coffee
            </div>
            <div class="item" ng-repeat="result in results | limitTo:5">
              <div>{{result.name}}</div> 
              <rating 
                  ng-model="result.rating" 
                  readonly="true">
              </rating> - 
              <rating 
                  ng-model="result.price_level" 
                  readonly="true" 
                  state-on="'glyphicon-usd'" 
                  state-off="'null'">
              </rating>
            </div>
          </div>
        </ion-scroll>
      </ion-drawer-vertical-content>
      <ion-drawer-vertical-handle />
    </ion-drawer-vertical-wrapper>
</ion-view>