<ion-view view-title="Meet Me There" hide-nav-bar="true">

    <ion-content data-tap-disabled="true">
        <div id="map"></div> 
    </ion-content>


    <ion-drawer-vertical-wrapper class="has-tabs" direction="up" state="closed" autoclose-on-scroll>
      <ion-drawer-vertical-content>
        <div>
          <div class="list">
          <div class="item item-divider">Nearby Locations</div>
            <div class="item item-divider">
            </div>
            <div class="item padding-right" ng-repeat="result in results">
              <div class="row">
                <div class="col col-50">
                  <div>{{result.name}}</div> 
                  <rating 
                      ng-model="result.rating" 
                      readonly="true">
                  </rating> - 
                  <rating 
                      ng-model="result.price_level" 
                      readonly="true" 
                      state-on="'glyphicon-usd'" 
                      state-off="'null'">
                  </rating>
                </div>
                <div class="col">
                  <span class="icon ion-ios-upload-outline share-icon"></span>
                  <div class="icon-text">Share</div>
                </div>
                <div class="col">
                  <span class="icon ion-map map-icon"></span>
                  <div class="icon-text">Directions</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-drawer-vertical-content>
      <ion-drawer-vertical-handle />
    </ion-drawer-vertical-wrapper>

    
</ion-view>